html {
	background-color: white;
}

#text {
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 2em;
	border-radius: 80px;
	background-color: black;
	border: none;
	color: white;
	margin-top: 100px;
	padding: 15px 20px 15px 20px;
	font-weight: bold;
	text-align: center;
}

#startButton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 1em;
	border-radius: 80px;
	background-color: black;
	border: none;
	color: white;
	margin-top: 100px;
	padding: 15px 30px 15px 30px;
	font-weight: bold;
}

body h1 {
	background-color: white;
	text-align: center;
	font-size: 4em;
	margin-top: 100px;
}

@media screen and (min-width:16em) {
	body canvas {
		width: 100%;
		height: 100%;
	}
}

@media screen and (min-width:35.625em) {
	body canvas {
		width: 100%;
		height: 100%;
	}
}

@media screen and (min-width:48em) {
	body canvas {
		width: 100%;
		height: 37.5em;
		display: block;
		margin-left: auto;
		margin-right: auto
	}
}

@media screen and (min-width:64em) {
	body canvas {
		width: 70em;
		height: 50em;
		display: block;
		margin-left: auto;
		margin-right: auto
	}
}