@media screen and (min-width:16em) {
	body canvas {
		width: 70%;
		height: 55em;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	html {
		background-color: yellow;
	}
}

@media screen and (min-width:35.625em) {
	body canvas {
		width: 70%;
		height: 55em;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	html {
		background-color: yellow;
	}
}

@media screen and (min-width:48em) {
	body canvas {
		width: 70%;
		height: 55em;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	html {
		background-color: yellow;
	}
}

@media screen and (min-width:64em) {
	body canvas {
		width: 70%;
		height: 55em;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	html {
		background-color: yellow;
	}
}